h1 {
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.board {
    position: relative;
    height: 300px;
    width: 300px;
	top: 20px;
    left: 8px;
    margin-left: auto;
    margin-right:  auto;
}

div.board input {
    width: 42px;
    height:  42px;
    text-align: center;
}
input.firstRow {
    position: absolute;
    left: 0;
}

input.secondRow {
    position: absolute;
    top: 50px;
    left: 0;
}

input.thirdRow {
    position: absolute;
    top: 100px;
    left: 0;
}

input:nth-of-type(2), input:nth-of-type(5), input:nth-of-type(8){
    margin-left: 48px;
}

input:nth-of-type(3), input:nth-of-type(6), input:nth-of-type(9) {
    margin-left: 96px;
}

.winner {
    color: white;
    background-color: #0000ff;
}
